* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.header {
    height: 70px;
    width: 100%;
    background-color: lightgray;
    line-height: 70px;  
}
h1{
    margin-left: 5%;
    display: inline-block;
    width: 18%;
    vertical-align: top; 
}
h3 {
    margin-left: 3%;
    display: inline-block;
    width: 10%;
    vertical-align: top; 
}
.search {
    height: 70px;
    width: 60%;
    display: inline-block;
    /* background-color: red; */
}
.search input {
    height: 40px;
    width: 100%;
    outline: none;
    text-indent: 20px;
    border-radius: 5px;
    border: 1px solid gray;
}
.products {
    width: 100%;
    height: auto;
    /* background-color: gray; */
}
.productwrapper {
    height: auto;
    width: 80%;
    /* background-color: green; */
    margin-left: 10%;
    margin-bottom: 50px;
}
.product {
    height: auto;
    width: 25%;
    /* background-color: red; */
    display: inline-block; 
    margin-top: 25px;
    margin-left: 6.25%;
    border: 1px solid lightgray;
} 
.prodimg {
    height: 300px;
    width: 100%;
    /* background-color: yellow; */
    overflow: hidden; /* To put content on specified height/ width */ 
}

.product h3,
.product p {
    padding: 5px;
    padding-left: 5px;
}
.product p {
    color: gray;
}
button {
    padding: 10px;
    border-radius: 3px;
    background-color: #d45b34;
    border: #d45b34;
    color: white;
    
}
button:hover {
    background-color: #86361c;
    transition: background-color 0.5s;
}
.form {
    margin-top: 5px;
    padding: 18px;
}
.modal {
    width: 100%;
    height: 100vh; /*vh = viewport height - what we see in complete brwoser from top to button*/
    background-color: rgb(0, 0, 0, 0.5); /*rgba - where a defines alpha used to define tranperency*/
    position: fixed; /*Not to impact other elements & make the div fixed*/
    display: none;
}
.modalChild {
    height: 100px;
    width: 30%;
    background-color: white;
    margin-left: 35%;
    margin-top: 200px;
    display: inline-block;
}